{% extends 'base.html' %} 

{% comment %} {% extends 'base.html' %} 
{% load static %} 
{% block head_title %}Deposite{% endblock %} 
{% block content %}

<form class="min-h-screen flex justify-center items-center" method='POST'>
    {% csrf_token%}
    <div class="border rounded-xl bg-gray-100 p-8 text-center space-y-6 lg:w-1/3">
        <h1 class="text-2xl font-bold">Deposit</h1>

        <div class="flex items-center gap-4">
            <label class="text-xl font-bold" for="">Amount</label> 
            <input type="text" name="amount" maxlength="150" autofocus class="appearance-none w-full bg-gray-200 border border-gray-200 rounded-lg py-3 px-4 leading-tight focus:outline-none focus:border-gray-500" required aria-describedby="id_username_helptext"> 
        </div>
        
        <button class="bg-green-900 text-white px-6 py-1 rounded-xl text-lg hover:bg-green-700">Submit</button>
    </div>
</form>
{% endblock %} {% endcomment %}






{% block head_title %}{{ title }}{% endblock %} 

{% block content %}

<div class="w-full flex mt-5 justify-center items-center">
    <div class="bg-white w-5/12 rounded-lg">
        {% if title == 'Request For Loan' %}
<div><a class="font-bold text-blue text-center pb-5 pt-10 px-5" href="{% url 'loan_list' %}">View All Loan List</a></div>
        {% endif %}
        
        <h1 class="font-bold text-3xl text-center pb-5 pt-10 px-5">{{ title }}</h1>
        <form method="post" class="px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            {% if form.account_no.errors %} 
            {% for error in form.account_no.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %} {% endif %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                    Amount
                </label>
                <input class="shadow appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight border border-gray-500 focus:outline-none focus:shadow-outline" name="amount" id="amount" type="number" required placeholder="Amount">
            </div>
            {% if form.amount.errors %} {% for error in form.amount.errors %}
            <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
            {% endfor %} {% endif %}
            <div class="flex w-full justify-center">
                <button class="bg-blue-900 text-white hover:text-blue-900 hover:bg-white border border-blue-900 font-bold px-4 py-2 rounded-lg" type="submit">
                Submit
            </button>
            </div>
        </form>
    </div>
    
</div>
{% endblock %}